on init
    chown system system /sys/class/timed_output/vibrator/enable
    
service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.lge
    class hal
    user system
    group system
    shutdown critical
