#neverallow: allow audioserver device:chr_file { open read write };

allow audioserver audio_device:file { read write open };
allow audioserver cust_block_device:dir search;
allow audioserver device:chr_file { ioctl open read write };
allow audioserver device:file { read write open };
allow audioserver qti_init_prop:file { read open getattr };
allow audioserver sysfs:file { getattr open read };
allow audioserver socket_device:file write;
allow audioserver unlabeled:dir search;
