allow bluetooth device:chr_file { ioctl };
#allow bluetooth proc:file { write };
allow bluetooth sysfs:file { write };
allow bluetooth proc:file { open };
allow bluetooth cir_device:chr_file { read write open ioctl };
