allow bluetooth firmware_file:dir { search open read };
allow bluetooth firmware_file:file { read open };
allow bluetooth proc:file { open };
allow bluetooth sysfs:file write;
allow bluetooth qti_init_prop:file { getattr open read };
