allow cameraserver device:chr_file { ioctl open read write };
allow cameraserver init:unix_stream_socket { connectto };
allow cameraserver property_socket:sock_file { write };
