#neverallow: allow cameraserver default_prop:property_service set;

allow cameraserver socket_device:sock_file write;
set_prop(cameraserver, camera_prop)
allow cameraserver init:unix_stream_socket connectto;
allow cameraserver property_socket:sock_file write;
allow cameraserver mm-qcamerad:unix_dgram_socket sendto;
allow cameraserver camera_data_file:dir search;

allow cameraserver default_android_hwservice:hwservice_manager find;

allow cameraserver { hal_camera_default mediacodec }:fd use;

allow cameraserver ion_device:chr_file r_file_perms;

allow cameraserver hwbinder_device:chr_file rw_file_perms;
