# Block device type
type cir_device, dev_type;
type rfkill_device, dev_type;
type lge_diag_device, dev_type;
type cust_block_device, dev_type;
type nvbackup_block_device, dev_type;
type drm_block_device, dev_type;
type bluetooth_device, dev_type;
type wpa_device, dev_type;
#type persist_block_device, dev_type;
type DDR_block_device, dev_type; 
type devinfo_block_device, dev_type;
type encrypt_block_device, dev_type;
type factory_block_device, dev_type;
type fota_block_device, dev_type;
type grow_block_device, dev_type;
type keystore_block_device, dev_type;
type laf_block_device, dev_type;
type mpt_block_device, dev_type;
type modemst1_block_device, dev_type;
type modemst2_block_device, dev_type;
type persistent_block_device, dev_type;
type raw_resources_block_device, dev_type;
type sec_block_device, dev_type;
type sns_block_device, dev_type;
type ssd_block_device, dev_type;
