type firmware_data_file, fs_type, contextmount_type;
type persist_lg_data_file, fs_type, mlstrustedobject;

type cust_file, file_type, data_file_type;
type mpt_file, file_type, data_file_type;
type multimedia_data_file, file_type, data_file_type;
type sns_file, file_type, data_file_type;
type sysfs_camera, sysfs_type, file_type;

type rmt_debugfs, fs_type;
type debugfs_rpm, debugfs_type, fs_type;

type healthd_sysfs, fs_type;
type rtc_sysfs, fs_type;
type proc_irq, fs_type;
type nv_data_file, file_type;
type proc_touchpanel, fs_type;

# HAL types
type display_data_file, file_type, data_file_type;
type perfd_data_file, file_type, data_file_type;

#fsg
type fsg_file, fs_type, contextmount_type;

type sysfs_smdcntl_open_timeout, fs_type, sysfs_type;
type sysfs_nanoapp_cmd, sysfs_type, fs_type;

# Persist firmware types
type persist_camera_file, file_type;
type persist_wifi_file, file_type;
type persist_sensortool_file, file_type;

