type cam_device, dev_type, fs_type;
type data_block_device, dev_type, fs_type;
type cust_block_device, dev_type;
type modem_block_device, dev_type;
type persist_device, dev_type;
type persist-lg_block_device, dev_type;
type rfkill_device, dev_type;
type lge_diag_device, dev_type;
type cir_device, dev_type;
type qseecom_device, dev_type;
type smd_device, dev_type;
type emulated_block_device, dev_type;
type qti_device, dev_type;
type temp_device, dev_type;
type energy_device, dev_type;
type modem_device, dev_type;
type firmware_block_device, dev_type;

type thermal_socket_device, file_type;
type cam_file, file_type;
type sensors_data_file, file_type, data_file_type;
type hwaddrs_exec, exec_type, file_type;
type imswmsproxy_exec, exec_type, file_type;
type thermanager_exec, exec_type, file_type;
type timekeep_exec, exec_type, file_type;
type rtc_sysfs, sysfs_type, file_type;
type camera_socket, file_type;
type shell_ex, exec_type, file_type;
type ril_data_file, file_type, data_file_type;
type system_crypt_file, file_type, data_file_type;

type system_rild_file, file_type;
type vendor_fs, fs_type, sysfs_type;
type fs, fs_type, sysfs_type;
type rmt_debugfs, fs_type;
type sysfs_graphics, sysfs_type, fs_type;
type sysfs_performance, sysfs_type, fs_type;
type shared_log_device, dev_type;
type netmgrd_socket, file_type;
type irqbalance_socket, file_type;
type sysfs_esoc, sysfs_type, fs_type;
type btnvtool_exec, exec_type, file_type;
type imscm_service, service_manager_type;
type health, file_type;

type binder_per_mgr_service, service_manager_type;
type binder_loc_izat_service, service_manager_type;
type binder_conn_service, service_manager_type;

type fw_file, fs_type;
