allow fsck cache_file:dir getattr;
allow fsck sensors_data_file:dir getattr;
allow fsck modem_efs_partition_device:blk_file { read write ioctl open };
allow fsck persist-lg_block_device:blk_file { read open write ioctl };
allow fsck persist-lg_block_device:dir getattr;
allow fsck system_device:blk_file { read write ioctl open };
allow fsck unlabeled:dir getattr;
allow fsck mpt_block_device:blk_file { read open write ioctl };

# neverallow protected
allow fsck block_device:blk_file { ioctl open read write };
allow fsck mnt_vendor_file:dir getattr;
allow fsck persist_data_file:dir getattr;
