type qseecomtee_prop, property_type;

allow gatekeeperd device:chr_file { ioctl };
allow gatekeeperd qseecomtee_prop:file { getattr open read };
#allow gatekeeperd device:chr_file { read write };
