allow hal_wifi_default firmware_file:file { read open };
allow hal_wifi_default sysfs:file write;
allow hal_wifi_default wifi_data_file:file { read getattr open };
allow hal_wifi_default wifi_data_file:dir search;

allow hal_wifi_default firmware_file:dir search;
allow hal_wifi_default { hal_camera_default mediacodec }:fd use;
allow hal_wifi_default ion_device:chr_file r_file_perms;
allow hal_wifi_default hwbinder_device:chr_file rw_file_perms;
