allow hal_graphics_allocator_default sysfs_graphics:file { read getattr open };
allow hal_graphics_allocator_default { hal_camera_default mediacodec }:fd use;
