allow hal_nfc_default nfc_device:chr_file { read write ioctl open };
allow hal_nfc_default default_android_hwservice:hwservice_manager { add find };
allow hal_nfc_default hal_secure_element_default:binder call;
allow hal_nfc_default { hal_camera_default mediacodec }:fd use;
