allow hal_wifi_hostapd_default rfkill_device:chr_file { open read };
allow hal_wifi_hostapd_default self:capability { setgid setuid };
allow hal_wifi_hostapd_default { hal_camera_default mediacodec }:fd use;
allow hal_wifi_hostapd_default ion_device:chr_file r_file_perms;
allow hal_wifi_hostapd_default hwbinder_device:chr_file rw_file_perms;
