allow hal_power_default socket_device:file write;
allow hal_power_default sysfs:file { open write };
allow hal_power_default { hal_camera_default mediacodec }:fd use;
