# Allow Wifi Offload HAL to communicate with daemon via socket
allow hal_wifi_offload_default chre:unix_stream_socket connectto;
allow hal_wifi_offload_default chre_socket:sock_file write;
allow hal_wifi_offload_default { hal_camera_default mediacodec }:fd use;
allow hal_wifi_offload_default ion_device:chr_file r_file_perms;
allow hal_wifi_offload_default hwbinder_device:chr_file rw_file_perms;
