allow hal_wifi_supplicant_default rfkill_device:chr_file { read open };
allow hal_wifi_supplicant_default wifi_data_file:file { getattr read open };
allow hal_wifi_supplicant_default wifi_vendor_data_file:sock_file { create setattr unlink };
