allow hal_secure_element_default default_android_hwservice:hwservice_manager add;
allow hal_secure_element_default { hal_camera_default mediacodec }:fd use;
