type hwaddrs, domain;
type hwaddrs_exec, exec_type, file_type;
net_domain(hwaddrs)
init_daemon_domain(hwaddrs)

allow hwaddrs misc_block_device:blk_file read;
allow hwaddrs self:capability dac_override;
allow hwaddrs wifi_data_file:dir { write add_name };
allow hwaddrs wifi_data_file:file { write open create };
allow hwaddrs bluetooth_data_file:dir { write add_name };
allow hwaddrs bluetooth_data_file:file { write open create };
allow hwaddrs misc_block_device:blk_file open;

allow hwaddrs block_device:dir search;
allow hwaddrs cache_block_device:dir search;
allow hwaddrs bluetooth_data_file:dir search;
allow hwaddrs wifi_data_file:dir search;
