allow qti_init_shell radio_prop:property_service { set };

allow init debugfs:file { write };

allow init rmt_debugfs:dir { relabelto };
allow init rmt_debugfs:file { relabelto };

allow init rtc_sysfs:dir { relabelto };
allow init rtc_sysfs:filesystem { associate };
allow init rtc_sysfs:file { relabelto };
allow init rtc_sysfs:lnk_file { relabelto };

allow init proc_touchpanel:file getattr;
allow init property_socket:sock_file { create setattr write};
allow init socket_device:sock_file create;
allow init socket_device:sock_file setattr;

allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init pstorefs:dir mounton;

allowxperm init self:socket ioctl msm_sock_ipc_ioctls;
allowxperm init self:udp_socket ioctl { SIOCGIWESSID };
allowxperm init self:udp_socket ioctl priv_sock_ioctls;

allow init app_data_file:dir search;
#allow init firmware_file:dir create;
allow init smem_log_device:chr_file { ioctl write };
