#neverallow: allow init default_android_service:service_manager { add find };
#neverallow: allow init device:chr_file { open read write };
#neverallow: allow init firmware_file:dir create;
#neverallow: allow init imsrcs_service:service_manager add;
#neverallow: allow init permission_service:service_manager find;
#neverallow: allow init sysfs:file { open read write };
#neverallow: allow init shell_exec:file execute_no_trans;
#neverallow: allow init sensorservice_service:service_manager find;
#neverallow: allow init system_file:file execute_no_trans;
#neverallow: allow init vendor_file:file execute_no_trans;

allow init sysfs:file { open read write };

allow init device:chr_file { getattr ioctl };
allow init sysfs:file setattr;

allow init app_data_file:dir search;
allow init app_data_file:file setattr;
allow init sensors_data_file:dir mounton;
allow init smem_log_device:chr_file { write ioctl };
allow init vfat:dir mounton;
allow init frp_block_device:blk_file setattr;
allow init persist-lg_block_device:dir mounton;
allow init unlabeled:dir mounton;
allow init functionfs:dir mounton;

allow init socket_device:sock_file unlink;
allow init thermal_socket:sock_file unlink;

allow init sd_device:dir mounton;

allow init block_device:blk_file setattr;
allow init tmpfs:file getattr;

allow init bluetooth:process { siginh rlimitinh noatsecure };

allow init bluetooth:process rlimitinh;
allow init input_device:chr_file ioctl;
allow init ion_device:chr_file write;
allow init kernel:system module_request;
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init proc:file { open read write getattr };
allow init proc_filesystems:file getattr;
allow init ram_device:blk_file write;
allow init self:capability2 block_suspend;
allow init self:netlink_route_socket { bind create read };
allow init self:netlink_xfrm_socket { bind create };
allow init self:rawip_socket { create getopt setopt };
allow init self:socket { read write };
allow init self:udp_socket ioctl;
allow init servicemanager:binder { call transfer };
allow init socket_device:sock_file { create getattr setattr unlink write };
allow init sysfs_devices_system_cpu:file write;
allow init tmpfs:lnk_file create;
allow init video_device:chr_file { ioctl write };
allow init sysfs_boot_adsp:file open;
allow init sysfs_msm_power:file { open write };
allow init sysfs_thermal:file write;
allow init flashlight_app_data_file:file { open setattr write };

allow init rootfs:file { create write };
allow init sensors_data:dir mounton;
allow init sysfs_dm:file { open write };

allow init persist_data_file:dir mounton;

dontaudit init bluetooth:process transition;
dontaudit init btnvtool_exec:file execute_no_trans;
