allow keystore keystore_data_file:dir relabelfrom;
allow keystore keystore_data_file:file relabelfrom;
allow keystore system_data_file:file { read unlink getattr relabelto relabelfrom };
allow keystore vfat:file { read getattr open };
allow keystore vfat:dir search;
allow keystore vendor_file:file entrypoint;
allow keystore sd_device:file { read getattr open };
allow keystore shell_exec:file { read open getattr };
allow keystore system_data_file:dir { read relabelfrom write relabelto add_name open create remove_name};
allow keystore system_data_file:file { open write create rename };
allow keystore toolbox_exec:file { getattr read open execute execute_no_trans };
allow keystore vendor_toolbox_exec:file execute_no_trans;

allow keystore self:capability { dac_override dac_read_search fowner sys_resource };
