allow mediadrmserver firmware_file:lnk_file read;
allow mediadrmserver unlabeled:dir search;
allow mediadrmserver unlabeled:file { read getattr open };
