allow mediaprovider unlabeled:dir { getattr search read open };
allow mediaprovider unlabeled:file { getattr };
allow mediaprovider emulated_block_device:dir { getattr search read open };
