type diag_prop, property_type;

allow mm-qcamerad camera_prop:property_service set;
allow mm-qcamerad permission_service:service_manager find;
allow mm-qcamerad mpctl_socket:sock_file write;
get_prop(mm-qcamerad, diag_prop);
allow mm-qcamerad camera_data_file:file create_file_perms;
allow mm-qcamerad persist_file:file r_file_perms;
allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:file open;
allow mm-qcamerad { untrusted_app untrusted_app_25 }:fd use;
allow mm-qcamerad camera_data_file:sock_file { create unlink };
set_prop(mm-qcamerad, debug_prop)

allow mm-qcamerad self:tcp_socket create;
allow mm-qcamerad self:tcp_socket setopt;
allow mm-qcamerad self:tcp_socket { bind listen };
allow mm-qcamerad self:tcp_socket listen;
allow mm-qcamerad port:tcp_socket name_bind;
allow mm-qcamerad self:tcp_socket create_stream_socket_perms;
allow mm-qcamerad node:tcp_socket node_bind;
