allow netmgrd net_data_file:dir read;
#allow netmgrd netd_socket:sock_file write;
allow netmgrd shell_exec:file { read execute open getattr execute_no_trans };
allow netmgrd toolbox_exec:file { read getattr open execute execute_no_trans };
allow netmgrd init:unix_stream_socket connectto;
allow netmgrd net_radio_prop:property_service set;
allow netmgrd property_socket:sock_file write;

allow netmgrd dnsresolver_service:service_manager find;
allow netmgrd netd_service:service_manager find;
allow netmgrd qmuxd_socket:dir { add_name remove_name write };
allow netmgrd qmuxd_socket:sock_file { create setattr unlink };
allow netmgrd qmuxd:unix_stream_socket connectto;
allow netmgrd servicemanager:binder call;
allow netmgrd system_file:file { execute_no_trans lock };

