allow nfc vendor_data_file:file { getattr open read write };
allow nfc nfc_vendor_data_file:dir { search write add_name };
allow nfc nfc_vendor_data_file:file { getattr create open read write };
