allow per_mgr self:capability { net_raw };
allow per_mgr default_android_service:service_manager { find };
allow per_mgr smem_log_device:chr_file { ioctl open read write };
