allow platform_app device:chr_file { ioctl };
allow platform_app unlabeled:dir { getattr write add_name remove_name };
allow platform_app unlabeled:file { read write open getattr rename unlink };
#allow platform_app unlabeled:file { create };
