allow priv_app device:dir open;
allow priv_app proc_interrupts:file open;
allow priv_app proc_modules:file { getattr open };
allow priv_app asec_apk_file:dir { read getattr open };
allow priv_app cache_private_backup_file:dir getattr;
allow priv_app cgroup:dir { read open };
allow priv_app configfs:dir { read open };
allow priv_app configfs:file getattr;
allow priv_app file_contexts_file:file getattr;
allow priv_app hwservice_contexts_file:file getattr;
allow priv_app mnt_media_rw_file:dir { read getattr open };
allow priv_app nonplat_service_contexts_file:file getattr;
allow priv_app persist_file:dir getattr;
allow priv_app radio_data_file:dir getattr;
allow priv_app seapp_contexts_file:file getattr;
allow priv_app sensors_data_file:dir { read getattr open };
allow priv_app sepolicy_file:file { read getattr open };
allow priv_app service_contexts_file:file getattr;
allow priv_app unlabeled:dir { read getattr open };
allow priv_app unlabeled:file getattr;
allow priv_app vndservice_contexts_file:file getattr;
allow priv_app wifi_prop:file { getattr open };

allow priv_app mnt_media_rw_file:dir search;
