type pulse, domain;
type pulse_exec, exec_type, file_type;

init_daemon_domain(pulse)

allow pulse rootfs:file { entrypoint read };
allow pulse toolbox_exec:file { execute_no_trans open };
allow pulse rootfs:file open;
allow pulse shell_exec:file { getattr read };
allow pulse sysfs:file { getattr read open write };
allow pulse sysfs_leds:dir search;
allow pulse system_file:file execute_no_trans;
allow pulse toolbox_exec:file { execute getattr open read execute_no_trans };
