allow tee persist_data_file:file { write };

allow tee firmware_data_file:dir r_dir_perms;
allow tee firmware_data_file:file r_file_perms;

allow tee persist_lg_data_file:dir r_dir_perms;
allow tee persist_lg_data_file:file rw_file_perms;

