allow qti sysfs:file { open read };
#type qti, domain;
#type qti_exec, exec_type, file_type;
#init_daemon_domain(qti)
allow qti self:socket { create ioctl read };
