allow radio qmuxd_socket:sock_file { unlink write };
allow radio qmuxd_socket:dir search;
allow radio system_app_data_file:dir getattr;

allow radio { hal_camera_default mediacodec }:fd use;
allow radio ion_device:chr_file r_file_perms;
allow radio hwbinder_device:chr_file rw_file_perms;
typeattribute radio binder_in_vendor_violators;
