allow rfs_access persist_file:dir create_dir_perms;
allow rfs_access persist_file:file create_file_perms;
allow rfs_access sysfs:file { read getattr open };
allow rfs_access sysfs_uio:dir { read search open };
allow rfs_access sysfs_uio:lnk_file read;
allow rfs_access sysfs_uio_file:dir search;
allow rfs_access sysfs_uio_file:file { read getattr open };
allow rfs_access self:capability net_raw;
allow rfs_access self:socket create_socket_perms;
allowxperm rfs_access self:socket ioctl msm_sock_ipc_ioctls;

# debugfs access
userdebug_or_eng(`
  allow energyawareness debugfs_energy:dir search;
  allow energyawareness debugfs_energy:file rw_file_perms;
  allow rfs_access debugfs_rfs:dir search;
  allow rfs_access debugfs_rfs:file rw_file_perms;
  allow rfs_access debugfs_rmt:dir search;
  allow rfs_access debugfs_rmt:file { open write };
  allow rmt_storage debugfs_rmt:dir search;
  allow rmt_storage debugfs_rmt:file rw_file_perms;
')
