allow rild servicemanager:binder { call };
#allow rild init:binder { transfer call };
#allow rild rild:socket { ioctl };
allow rild system_data_file:file { read open getattr };
allow rild socket_device:dir { write };
allow rild socket_device:sock_file { create };
allow rild socket_device:sock_file { write };
allow rild default_android_service:service_manager { find };
allow rild socket_device:dir { remove_name add_name };
allow rild socket_device:sock_file { unlink setattr };
allow rild rild:capability { sys_module dac_override chown };
allow rild health:chr_file { read write open ioctl };
allow rild device:chr_file { ioctl };
#allow rild system_data_file:file { write };
allow rild system_data_file:dir { write read open };
allow rild smem_log_device:chr_file { read write open ioctl };
allow rild radio_data_file:file { getattr read write open ioctl lock };
allow rild system_file:dir { add_name remove_name };
allow rild system_rild_file:file { create setattr getattr ioctl unlink link write read open };
allow rild fs:file { write create setattr unlink };
allow rild audioserver_service:service_manager { find };
allow rild vendor_fs:file { execute_no_trans lock };
allow rild radio_data_file:dir rw_dir_perms;
allow rild netmgrd_socket:sock_file { write };
allow rild rild_socket:dir { search read write create getattr setattr unlink link open ioctl add_name remove_name };
allow rild rild_socket:sock_file { write create setattr getattr unlink link };
allow rild diag_device:chr_file { read write open ioctl };
allow rild binder_per_mgr_service:service_manager { add find };
allow rild binder_conn_service:service_manager { add find };
allow rild audioserver:binder { call transfer };
allow rild ril_data_file:file { read write open ioctl create getattr setattr unlink link };
qmux_socket(rild)
