allow rmt_storage self:capability { net_raw dac_override };
allow rmt_storage self:capability sys_admin;

# debugfs access
userdebug_or_eng(`
  allow energyawareness debugfs_energy:dir search;
  allow energyawareness debugfs_energy:file rw_file_perms;
  allow rfs_access debugfs_rfs:dir search;
  allow rfs_access debugfs_rfs:file rw_file_perms;
  allow rmt_storage debugfs_rmt:dir search;
  allow rmt_storage debugfs_rmt:file rw_file_perms;
')
