allow sensors lge_diag_device:chr_file { open read write ioctl };
allow sensors self:capability { net_raw };

allow sensors shell_exec:file { entrypoint read };
allow sensors property_socket:sock_file { write };
allow sensors sensors_prop:property_service { set };
allow sensors init:unix_stream_socket { connectto };

allow sensors shell_exec:file { getattr };
allow sensors toolbox_exec:file { getattr read open execute execute_no_trans };
