# neverallow: allow sensors self:capability dac_override;

allow sensors sensors_data_file:dir { read getattr open };
allow sensors sensors_data_file:file { read write getattr open };
allow sensors sensors_prop:property_service set;
allow sensors shell_exec:file { read getattr };
allow sensors toolbox_exec:file { getattr execute read open execute_no_trans };
allow sensors init:unix_stream_socket connectto;
allow sensors property_socket:sock_file write;
allow sensors qti_init_shell_exec:file entrypoint;

allow sensors sensors_data_file:dir search;

allow sensors modem_efs_partition_device:dir { r_dir_perms create_dir_perms };
allow sensors modem_efs_partition_device:file rw_file_perms;
allow sensors persist_file:dir { r_dir_perms create_dir_perms };
allow sensors unlabeled:dir { search getattr setattr read open };
allow sensors unlabeled:file create_file_perms;

allow sensors sensors_data:dir { search getattr read open add_name remove_name write };
allow sensors sensors_data:file { write setattr getattr read open create unlink };
allow sensors ctl_start_prop:property_service set;
allow sensors touch_socket:lnk_file read;
