allow servicemanager per_mgr:dir search;
allow servicemanager per_mgr:file { read open };
allow servicemanager per_mgr:process getattr;
allow servicemanager rild:dir search;
allow servicemanager rild:file { read open };
allow servicemanager rild:process getattr;
allow servicemanager imscm:dir search;
allow servicemanager imscm:file { read open };
allow servicemanager imscm:process getattr;
allow servicemanager mm-qcamerad:dir search;
allow servicemanager mm-pp-daemon:dir search;
allow servicemanager mm-pp-daemon:file { open read };
allow servicemanager mm-pp-daemon:process getattr;
