allow servicemanager per_mgr:dir search;
allow servicemanager per_mgr:file { read open };
allow servicemanager per_mgr:process getattr;
allow servicemanager rild:dir search;
allow servicemanager rild:file { read open };
allow servicemanager rild:process getattr;
allow servicemanager imscm:dir search;
allow servicemanager imscm:file { read open };
allow servicemanager imscm:process getattr;
#allow servicemanager mm-qcamerad:dir search;
#allow servicemanager mm-qcamerad:file read;
#allow servicemanager mm-pp-daemon:dir search;
#allow servicemanager mm-pp-daemon:file { open read };
#allow servicemanager mm-pp-daemon:process getattr;
allow servicemanager vendor_per_mgr:dir search;
allow servicemanager vendor_per_mgr:file { open read };
allow servicemanager vendor_per_mgr:process getattr;

allow servicemanager pm_proxy:dir search;
allow servicemanager pm_proxy:file { open read };
allow servicemanager pm_proxy:process getattr;

# watchdog
allow servicemanager wrild:dir search;
allow servicemanager wrild:file { read open };
allow servicemanager wrild:process getattr;
