allow surfaceflinger device:chr_file { ioctl };
allow surfaceflinger sysfs:file { read write };
allow surfaceflinger sysfs_graphics:file { write read };
allow surfaceflinger persist_device:dir { search };
allow surfaceflinger unlabeled:dir { search };
