allow surfaceflinger default_android_service:service_manager { find add };
allow surfaceflinger device:chr_file { ioctl open read write };
allow surfaceflinger mnt_vendor_file:dir search;
allow surfaceflinger persist_display_file:dir search;
allow surfaceflinger socket_device:file write;
allow surfaceflinger sysfs:file { getattr open read write };
