type init-sysctl, domain;
type init-sysctl_exec, exec_type, file_type;
init_daemon_domain(init-sysctl)

allow init-sysctl proc:file { getattr open read write };
allow init-sysctl proc_dirty:file { getattr open read write };
allow init-sysctl toolbox_exec:file { entrypoint getattr read };
allow init-sysctl proc_extra_free_kbytes:file { open read write };
