allow time_daemon time_data_file:file { open read write create };
allow time_daemon time_data_file:dir { add_name write search };
allow time_daemon qmuxd_socket:dir search;
allow time_daemon sysfs:file { open read };
#type time_daemon, domain;
#type time_daemon_exec, exec_type, file_type;
#
#init_daemon_domain(time_daemon)

allow time_daemon self:capability { setgid setuid };
allow time_daemon self:socket { create ioctl read };
