type asan_reboot_prop, property_type;
type contexthub_prop, property_type;
type qcom_ims_prop, property_type;
type radio_atfwd_prop, property_type;

allow toolbox asan_reboot_prop:file { getattr };
allow toolbox bluetooth_prop:file { getattr };
allow toolbox boottime_prop:file { getattr };
allow toolbox contexthub_prop:file { getattr };
#allow toolbox device:chr_file { read write };
allow toolbox device_logging_prop:file { getattr };
allow toolbox drmserver:file { read };
allow toolbox dumpstate_options_prop:file { getattr };
allow toolbox file_contexts_file:file { getattr open read };
#allow toolbox firstboot_prop:file { getattr };
allow toolbox healthd:file { read };
allow toolbox hwservicemanager_prop:file { getattr };
allow toolbox init:dir { getattr open read search };
allow toolbox init_exec:file { getattr };
allow toolbox init:fifo_file { getattr read write };
allow toolbox init:file { getattr open read };
allow toolbox init:lnk_file { read };
allow toolbox init:netlink_selinux_socket { getattr };
allow toolbox init:unix_stream_socket { connectto getattr };
allow toolbox installd:file { read };
allow toolbox kernel:dir { getattr open read search };
allow toolbox kernel:file { getattr open read };
allow toolbox kernel:lnk_file { read };
allow toolbox keystore:file { read };
allow toolbox kmsg_device:chr_file { getattr };
allow toolbox lmkd:dir { getattr search };
allow toolbox lmkd_exec:file { getattr };
allow toolbox lmkd:file { open read };
allow toolbox lmkd:lnk_file { read };
allow toolbox logpersistd_logging_prop:file { getattr };
allow toolbox mmc_prop:file { getattr };
allow toolbox net_dns_prop:file { getattr };
allow toolbox overlay_prop:file { getattr };
allow toolbox persistent_properties_ready_prop:file { getattr };
allow toolbox proc:file { getattr };
allow toolbox proc_interrupts:file { getattr };
allow toolbox proc_iomem:file { getattr };
allow toolbox proc_meminfo:file { getattr };
allow toolbox proc_misc:file { getattr };
allow toolbox proc_modules:file { getattr };
allow toolbox proc_net:file { getattr open read };
allow toolbox proc_stat:file { getattr };
allow toolbox proc_sysrq:file { getattr };
allow toolbox proc_timer:file { getattr };
allow toolbox proc_zoneinfo:file { getattr };
allow toolbox property_socket:sock_file { write };
allow toolbox qcom_ims_prop:file { getattr };
allow toolbox radio_atfwd_prop:file { getattr };
allow toolbox radio_data_file:dir { create getattr open read setattr write };
allow toolbox safemode_prop:file { getattr };
#allow toolbox serialno_prop:file { getattr };
allow toolbox servicemanager:file { read };
allow toolbox shell:file { read };
allow toolbox su:file { read };
allow toolbox surfaceflinger:file { read };
allow toolbox sysfs_devices_system_cpu:file { write };
allow toolbox sysfs:file { open read };
allow toolbox system_data_file:dir { setattr };
allow toolbox toolbox:capability { chown dac_override net_admin };
allow toolbox toolbox:udp_socket { create ioctl };
allow toolbox ueventd:dir { getattr open read search };
allow toolbox ueventd:file { getattr open read };
allow toolbox ueventd:lnk_file { read };
allow toolbox ueventd:netlink_kobject_uevent_socket { getattr };
allow toolbox vndservicemanager:file { read };
allow toolbox wificond:file { read };
allow toolbox wifi_prop:file { getattr };
allow toolbox system_data_file:dir { open };
allow toolbox system_data_file:dir { remove_name };
allow toolbox sysfs_thermal:dir { search };
allow toolbox sysfs_thermal:file { read open };
