allow untrusted_app_25 app_data_file:file open;
allow untrusted_app_25 bluetooth_data_file:dir getattr;
allow untrusted_app_25 nfc_data_file:dir getattr;
allow untrusted_app_25 proc:file { getattr };
allow untrusted_app_25 radio_data_file:dir getattr;
allow untrusted_app_25 system_app_data_file:dir getattr;

allow untrusted_app_25 proc_vmstat:file { getattr open read };
allow untrusted_app_25 proc_stat:file { open getattr };
allow untrusted_app_25 unlabeled:dir getattr;
allow untrusted_app_25 app_data_file:file open;
allow untrusted_app_25 proc_zoneinfo:file { read getattr open };
allow untrusted_app_25 kgsl_debugfs:file { getattr open };

dontaudit untrusted_app_25 proc:file { read open };

allow untrusted_app_25 app_data_file:file open;
allow untrusted_app_25 mnt_media_rw_file:dir getattr;
allow untrusted_app_25 rootfs:dir { read open };
allow untrusted_app_25 sysfs:file { read getattr open };
allow untrusted_app_25 system_data_file:file open;
allow untrusted_app_25 vold_exec:file { read open };
