allow untrusted_app proc:file { getattr };
allow untrusted_app sysfs_zram:dir search;
allow untrusted_app sysfs_zram:file { read open getattr };
allow untrusted_app sysfs:file read;

allow untrusted_app proc_vmstat:file { getattr open read };
allow untrusted_app net_dns_prop:file { getattr open };
allow untrusted_app proc_zoneinfo:file { read getattr open };
