allow vendor_init apk_data_file:dir { search add_name create setattr write };
allow vendor_init audio_data_file:dir { create setattr };
allow vendor_init block_device:blk_file setattr;
allow vendor_init bluetooth_data_file:dir setattr;
allow vendor_init bluetooth_data_file:file setattr;
allow vendor_init cache_file:dir { remove_name write };
allow vendor_init cache_file:file unlink;
allow vendor_init camera_data_file:dir { create setattr };
allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init firmware_data_file:file { getattr relabelfrom };
allow vendor_init frp_block_device:blk_file setattr;
allow vendor_init kmstore_data_file:dir relabelfrom;
allow vendor_init kmstore_data_file:file { getattr relabelfrom };
allow vendor_init mpt_file:file getattr;
allow vendor_init multimedia_data_file:dir relabelfrom;
allow vendor_init nfc_data_file:dir setattr;
allow vendor_init persist_lg_data_file:dir relabelto;
allow vendor_init persist_lg_data_file:file { getattr relabelto };
allow vendor_init proc:file write;
allow vendor_init secclk_data_file:file { getattr relabelfrom };
allow vendor_init system_data_file:dir { add_name create open setattr read write };
allow vendor_init system_data_file:file { create open write setattr };
allow vendor_init tmpfs:dir { add_name create write };
allow vendor_init tombstone_data_file:dir setattr;
allow vendor_init toolbox_exec:file getattr;
allow vendor_init unlabeled:dir { search setattr };
allow vendor_init vfat:dir { open read };
allow vendor_init vfat:file getattr;
allow vendor_init widevine_data_file:file { getattr relabelfrom };
allow vendor_init wifi_data_file:dir setattr;
allow vendor_init wifi_data_file:file setattr;
allow vendor_init wpa_socket:dir setattr;

allow vendor_init privapp_data_file:dir search;
allow vendor_init radio_data_file:dir { search setattr };
domain_auto_trans(vendor_init, vendor_toolbox_exec, vendor_init)
allow vendor_init unlabeled:{ dir file } { getattr relabelfrom };
allow vendor_init unlabeled:dir search;
