type wrild, domain;
type wrild_exec, exec_type, file_type;
init_daemon_domain(wrild)

allow wrild ctl_start_prop:property_service set;
allow wrild ctl_stop_prop:property_service set;
allow wrild init:unix_stream_socket connectto;
allow wrild property_socket:sock_file write;
allow wrild self:capability sys_ptrace;
allow wrild shell_exec:file { getattr read };
allow wrild system_file:file entrypoint;
allow wrild system_file:file execute_no_trans;
allow wrild toolbox_exec:file { execute execute_no_trans getattr open read };

# wrild.sh uses ps and so will spam the log for unneeded stuff
# everything with "comm=ps" in an avc denied log should be added here:
dontaudit wrild adsprpcd:file read;
dontaudit wrild audioserver:file read;
dontaudit wrild cameraserver:file { read };
dontaudit wrild drmserver:file { read };
dontaudit wrild energyawareness:file { read };
dontaudit wrild gatekeeperd:file read;
dontaudit wrild hal_cas_default:file { read };
dontaudit wrild hal_configstore_default:file { read };
dontaudit wrild hal_graphics_allocator_default:file { read };
dontaudit wrild hal_health_default:file { read };
dontaudit wrild hal_light_default:file { read };
dontaudit wrild hal_power_default:file { read };
dontaudit wrild hal_thermal_default:file { read };
dontaudit wrild hal_usb_default:file { read };
dontaudit wrild hal_wifi_default:file { read };
dontaudit wrild healthd:file { read };
dontaudit wrild hwservicemanager:file { read };
dontaudit wrild imscm:file read;
dontaudit wrild ims:file read;
dontaudit wrild imswmsproxy:file read;
dontaudit wrild incidentd:file { read };
dontaudit wrild init:file { read };
dontaudit wrild installd:file { read };
dontaudit wrild kernel:file { read };
dontaudit wrild keystore:file { read };
dontaudit wrild lmkd:file read;
dontaudit wrild logd:file { read };
dontaudit wrild mediacodec:file read;
dontaudit wrild mediadrmserver:file { read };
dontaudit wrild mediaextractor:file { read };
dontaudit wrild mediametrics:file read;
dontaudit wrild mediaserver:file read;
dontaudit wrild mm-pp-daemon:file read;
dontaudit wrild mm-qcamerad:file read;
dontaudit wrild netd:file { read };
dontaudit wrild perfprofd:file read;
dontaudit wrild rfs_access:file { read };
dontaudit wrild rmt_storage:file read;
dontaudit wrild sensors:file read;
dontaudit wrild servicemanager:file { read };
dontaudit wrild shell:file read;
dontaudit wrild su:file { read };
dontaudit wrild surfaceflinger:file read;
dontaudit wrild tee:file { read };
dontaudit wrild thermal-engine:file read;
dontaudit wrild thermalserviced:file read;
dontaudit wrild time_daemon:file read;
dontaudit wrild tombstoned:file read;
dontaudit wrild ueventd:file { read };
dontaudit wrild vendor_init:file { read };
dontaudit wrild vendor_per_mgr:file read;
dontaudit wrild vndservicemanager:file { read };
dontaudit wrild vold:file { read };
dontaudit wrild wificond:file read;
dontaudit wrild zygote:file { read };
