#neverallow: allow wrild self:capability sys_ptrace;
#neverallow: allow wrild system_file:file entrypoint;
#unknown type hal_allocator_default: allow wrild hwservicemanager:file read;

type wrild, domain;
type wrild_exec, exec_type, file_type;
init_daemon_domain(wrild)

allow wrild healthd:file read;
allow wrild hwservicemanager:file read;
allow wrild init:dir { getattr search };
allow wrild init:file { open read };
allow wrild init:unix_stream_socket connectto;
allow wrild kernel:dir { getattr search };
allow wrild kernel:file { open read };
allow wrild logd:dir { getattr search };
allow wrild logd:file { read open };
allow wrild property_socket:sock_file write;
allow wrild shell_exec:file { getattr read };
allow wrild system_file:file execute_no_trans;
allow wrild servicemanager:dir getattr;
allow wrild servicemanager:file read;
allow wrild tee:file read;
allow wrild tee:dir getattr;
allow wrild toolbox_exec:file { execute execute_no_trans getattr open read };
allow wrild netd:file read;
allow wrild ueventd:dir { getattr search };
allow wrild ueventd:file read;
allow wrild vendor_init:dir { getattr search };
allow wrild vendor_init:file { read open };
allow wrild vndservicemanager:file read;
allow wrild vold:file { read open };
allow wrild vold:dir { getattr search };
allow wrild zygote:file read;

allow wrild hal_cas_default:file read;
allow wrild hal_configstore_default:file read;
allow wrild hal_graphics_allocator_default:file read;
allow wrild hal_health_default:file read;
allow wrild self:capability sys_ptrace;
allow wrild servicemanager:dir search;
allow wrild servicemanager:file open;
allow wrild system_file:file entrypoint;
allow wrild ueventd:file open;

allow wrild ctl_start_prop:property_service set;
allow wrild ctl_stop_prop:property_service set;

allow wrild magisk:file read;

dontaudit wrild hwservicemanager:dir { getattr search };
dontaudit wrild hwservicemanager:file open;
dontaudit wrild vndservicemanager:dir { getattr search};
dontaudit wrild vndservicemanager:file open;
dontaudit wrild vold:dir getattr;
