type wrild, domain;
type wrild_exec, exec_type, file_type;
init_daemon_domain(wrild)

# wrild.sh uses ps and so will spam the log for unneeded stuff
# everything with "comm=ps" in an avc denied log should be added here:
dontaudit wrild hal_allocator_default:file read;
dontaudit wrild statsd:file read;
dontaudit wrild storaged:file read;

