on fs
    # init commands run in parallel since Oreo so this will not hurt
    # but on Nougat or earlier switch to post-fs and remove the wait
    wait /system/bin/sysctl 60
    start sysctld

# parse /etc/sysctl.conf and apply it (if available)
# this approach is much more flexible then using echo/write to /proc
# as it can be easily extended/tuned/changed in the conf file
service sysctld /system/bin/sysctl -p
    user root
    oneshot
    seclabel u:r:init-sysctl:s0
